button {
    background-color: #00BFFF;
    color: white;
    padding: 20px ;
    margin: 8px 0;
    border: none;
    width: 50%;
}
.reg{
    padding: 20px 20px;
    background-color: #696969;
    float: left;
    width: 50%;
}
.log {
    float: left;
    width: 50%;
}
.outbox{
    padding: 50px;
    border:2px solid;
    margin:0px 600px;
}
.innerbox{
    width:100%;
    margin:auto;
}
.innerbox::after {
    content: "";
    clear: both;
    display: table;
}
